.top-header {
    display: flex;
    align-items: start;
    flex-flow: row nowrap;
    width: 100%;
}

.top-header li {
    font-size: 14px;
}

body {
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
}

@media print{
    body {
        font-size: 12pt;
    }
    .container {
        max-width: 1000px;
        padding: 15px;
    }
}